.contact {
    height: calc(100vh - 140px);
}

.contact__title {
    margin: 30px 0;
    text-align: center;
    font-size: 30px;
}

.contact__form {
    margin: 0 auto;
    max-width: 1230px;
}

.form__body {
    margin: 0 auto;
    width: 70%;
}


/* form common */
.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.label__text--required {
    color: red;
}

.form__group-item {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.form__group-item input {
    padding: 10px;
    border: none;
    background: #f4f4f4;
    color: #5f5852;
}

/* .tel-input inputに関しては、このスタイルを適応しない */
input::placeholder,
textarea::placeholder {
color: #7c736b;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #7c736b; /* オートフィル時のテキスト色を制御 */
    -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset; /* オートフィル時の背景色を制御 */
}

.form__error-msg {
    margin: 5px 0;
    color: red;
    font-size: 16px;
}


/* name */
.name-input__wrapper {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form__error {
    display: inline-block;
}


/* gender */
.radio-group {
    display: flex;
    padding-left: 10px;
}

.radio-group input {
    display: none;
}

.gender-radio__wrapper {
    width: 60%;
}

.radio-mark {
    margin-right: 5px;
    display: inline-block;
    border: 2px solid #8B7969;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.radio-group input:checked + label .radio-mark{
    background: #8B7969;
    border-color: #8B7969;
}

.radio-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 50px 0 5px;
}


/* email */
.email-input__wrapper {
    width: 60%;
}

.email-input input {
    padding: 10px;
    width: 100%;
    border: none;
    background: #f4f4f4;
    color: #7c736b;
}


/* tel */
.tel-input__wrapper {
    width: 60%;
}

.tel-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tel-input input {
    padding: 10px;
    width: 30%;
    text-align: center;
    color: #7c736b;
    background: #f4f4f4;
    border: none;
}

.tel-input input::placeholder {
    color: a5998f;
}

/* address */
.address-input__wrapper {
    width: 60%;
}

.address-input input {
    padding: 10px;
    width: 100%;
    color: #7c736b;
    background: #f4f4f4;
    border: none;
}


/* building name */
.building-name-input {
    width: 100%;
}


/* contact type */
.contact-type-select__wrapper {
    width: 60%;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 60%;
}

.contact-type-select {
    padding: 10px;
    width: 100%;
    appearance: none;
    border: none;
    background: #f4f4f4;
}

/* text color when not selected */
.contact-type-select:invalid {
    color: #b7b0ac;
}

/* text color when selected */
.contact-type-select:valid {
    color: #48433e;
}

/* ▼ toggle button */
.custom-select::after {
    content: "▼"; /* 逆三角形 */
    font-size: 16px;
    color: #8B7969;
    position: absolute;
    right: 10px; /* `select` の右端から10pxの位置 */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* クリックを select に通す */
}


/* contact content */
.detail-form-input__wrapper {
    width: 60%;
}

.detail-input {
    width: 100%;
    height: 100px;
}

.detail-input textarea {
    padding: 10px;
    width: 100%;;
    height: 100%;
    border: none;
    background: #f4f4f4;
    color: #48433e;
}


/* confirm button */
.confirm-button {
    display: block;
    margin: 0 auto 30px;
    padding: 7px 30px;
    background: #82756A;
    color: #fff;
    border: none;
    cursor: pointer;
}
